.env
wandb
# Python build artifacts
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyc
*.egg-info

# Training artifacts
datasets
inits
output
*.a2pack
checkpoints
profiles

# inference
bench_runs
selfplay

# Added by cargo

/target
# gRPC stubs
packages/infer_2048/src/infer_2048/proto
